<html>
	<head>
		<title>$scope.$Watch</title>	
		<meta charset="utf-8"/>
	</head>
	<body>
		<div ng-app="ngApp" ng-controller="ngController">
			<p>
				FirstName: <input type="text" ng-model="firstName"/><br>
				LastName: <input type="text" ng-model="lastName"/><br>
			</p>
			<p>
				FirstName: {{firstName}}<br>
				LastName: {{lastName}}<br>
				FullName: {{fullName}}
			</p>
		</div>
	</body>
	<script src="js/angular.min.js"></script>
	<script type="text/javascript">
		var ngApp = angular.module('ngApp', []);
		ngApp.controller('ngController', function($scope) {
			$scope.firstName = "";
			$scope.lastName = "";
			$scope.$watch('firstName', function() {
				$scope.fullName = $scope.firstName + " " + $scope.lastName;
			});
			$scope.$watch('lastName', function(){
				$scope.fullName = $scope.firstName + " " + $scope.lastName;
			});
		});
	</script>
</html>