<!DOCTYPE html>
<html>
	<head>
		<title>valid form</title>	
		<meta charset="utf-8"/>
	</head>
	<body>
		<form name="dataForm" ng-app="ngApp" ng-controller="ngController" novalidate>
			<p>
				username <input type="text" name="username" ng-model="username" required>
				<span style="color:red" ng-show="dataForm.username.$dirty && dataForm.username.$invalid">
					<span ng-show="dataForm.username.$error.required">用户名是必须的</span>
				</span>
			</p>
			<p>
				email <input type="email" name="email" ng-model="email" required>
				<span style="color:red" ng-show="dataForm.email.$dirty && dataForm.email.$invalid">
					<span ng-show="dataForm.email.$error.required">邮箱是必须的</span>
					<span ng-show="dataForm.email.$error.email">请输入正确邮箱</span>
				</span>
			</p>
		</form>
	</body>
	<script src="js/angular.min.js"></script>
	<script type="text/javascript">
		var ngApp = angular.module('ngApp', []);
		ngApp.controller('ngController', function($scope){
			$scope.username = 'jack';
			$scope.email = 'jack@163.com';
		});
	</script>
</html>