<!DOCTYPE html>
<html>
	<head>
		<title>An Application</title>	
		<meta charset="utf-8"/>
	</head>
	<body>
		<div ng-app="ngApp" ng-controller="ngController">
			<p>
				<textarea cols="40" rows="10" ng-model="message"></textarea>
			</p>
			<button ng-click="clear()">Clear</button>
			<button ng-click="save()">Save</button><br>
			还可以输入多少字 <span ng-init="100" ng-bind="left()"></span>
		</div>
	</body>
	<script src="js/angular.min.js"></script>
	<script type="text/javascript">
		var ngApp = angular.module('ngApp', []);
		ngApp.controller('ngController', function($scope){
			$scope.message = 'text';
			$scope.left = function() {
				return 100 - $scope.message.length;
			};
			$scope.clear = function() {
				$scope.message = '';
			};
			$scope.save = function(){
				alert('note saved.');
				$scope.clear();
			};
		});
	</script>
</html>